{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-index.css' %}">
{% endblock css %}

{% block imagen %}
<div class="img-hd">
    <div class="logo-img"><img class="img-fluid" src="{% static 'Inicio/img/logo/logo1.png' %}"></div>
    <div class="">
    </div>
</div>
{% endblock imagen %}

{% block contenido %}
<section class="compsyper">
    <div class="container">
        <h1 class="text-break">Acá podrás encontrar lo mejor para poder armar tu setup 	&#128293;</h1>
        <h2>Periféricos para la bestia &#9889;</h2>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mostrarMic' request.user.username %}"><img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">MICRÓFONOS</p>
                </article>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'teclados' request.user.username %}"><img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">TECLADOS</p>
                </article>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mostrarMouse' request.user.username %}"><img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">MOUSE GAMER</p>
                </article>
            </div>
        </div>
    </div>
</section>    

<section class="compsyper">
    <div class="container">
        <h2>Componentes para armar a la bestia &#129409;</h2>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mostrarGrafica' request.user.username %}"><img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">TARJETAS GRÁFICAS</p>
                </article>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mostrarProcesador' request.user.username %}"><img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="procesador" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="procesador" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">PROCESADORES</p>
                </article>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mostrarRam' request.user.username %}"><img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="memorias RAM" class="img-fluid" id="img"></a>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="memorias RAM" class="img-fluid" id="img"></a>
                    {% endif %}
                    <p class="txtcaja">MEMORIAS</p>
                </article>
            </div>
        </div>
    </div>
</section>     
{% endblock contenido %}
